<!DOCTYPE html>
<html>
<header>
    <% include ../partials/header.ejs %>    
</header>
<body>
    <% include ../partials/head.ejs %>
    <div class="container py-3 text-center bg-info">
        <h1>Results</h1>
        <p>Total cost is $<%= price %></p>
    </div>
</body>
</html>